# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
dist/
build/
*.egg-info/

# pytest
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/

# Env files
.env

# Poetry
poetry.lock
